{{- $name := promptString "name" -}}
{{- $email := promptString "email" -}}
{{- $location := promptString "location" -}}
[data]
    name = "{{ $name }}"
    email = "{{ $email }}"
    location = "{{ $location }}"
